# File Environment - JANGAN DI-UPLOAD
.env
server/.env
yolo_server/.env

# Folder dependensi
node_modules/
server/node_modules/
venv/
.venv/

# Folder build dari Vite
dist/

# File sistem operasi
.DS_Store
Thumbs.db

# File cache Python
__pycache__/
*.pyc